<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- local builds -->
    <add key="LocalDebug"   value="Rubjerg.Graphviz/bin/x64/Debug" />
    <add key="LocalRelease" value="Rubjerg.Graphviz/bin/x64/Release" />

    <!-- public packages -->
    <add key="nuget.org"      value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <packageSourceMapping>
    <!-- <packageSource key="LocalDebug"> -->
      <!-- <package pattern="Rubjerg.*" /> -->
    <!-- </packageSource> -->
    <packageSource key="LocalRelease">
      <package pattern="Rubjerg.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
