<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- NOTE: IF YOU UPDATE THIS FILE, MAKE SURE THAT THE INSTRUCTIONS IN THE README REMAIN UP-TO-DATE -->

  <packageSources>
    <!-- `clear` ensures no additional sources are inherited from another config file. -->
    <clear />
    <!-- `key` can be any identifier for your source. -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- <add key="Test Source" value="Rubjerg.Graphviz\bin\x64\Release" /> -->
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <packageSourceMapping>

    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>

    <!-- <packageSource key="Test Source"> -->
      <!-- <package pattern="Rubjerg.Graphviz*" /> -->
    <!-- </packageSource> -->

  </packageSourceMapping>

</configuration>
